In [51]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [52]:
df=pd.read_csv('US_BASKETBALL_COLLAGE.csv')
df.head()

,school,city,state,region,conference,division
0,Abilene Christian University,Abilene,Texas,Mid South,Western Athletic Conference,NCAA D1
1,Academy of Art University,San Francisco,California,West Coast,Pacific West Conference,NCAA D2
2,Adams State University,Alamosa,Colorado,South West,Rocky Mountain Athletic Conference,NCAA D2
3,Adelphi University,Garden City,New York,North East,Northeast-10 Conference,NCAA D2
4,Adrian College,Adrian,Michigan,Great Lakes,Michigan Intercollegiate Athletic Association,NCAA D3

In [53]:
df.describe()

,school,city,state,region,conference,division
count,1711,1711,1711,1711,1711,1711
unique,1709,1141,51,10,290,6
top,Alice Lloyd College,Chicago,New York,North East,Northwest Athletic Conference,JC
freq,2,13,117,311,28,439

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1711 entries, 0 to 1710
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1711 non-null   object
 1   city        1711 non-null   object
 2   state       1711 non-null   object
 3   region      1711 non-null   object
 4   conference  1711 non-null   object
 5   division    1711 non-null   object
dtypes: object(6)
memory usage: 80.3+ KB

In [55]:
df.isnull().sum()

school        0
city          0
state         0
region        0
conference    0
division      0
dtype: int64

In [56]:
le = LabelEncoder()
df["division"] = le.fit_transform(df["division"])
df["division"].value_counts()

division
0    439
4    393
2    358
3    301
1    219
5      1
Name: count, dtype: int64

In [57]:
X = df.drop(columns = "division", axis=1)
y = df["division"]
X_train,X_valid,y_train,y_valid = train_test_split(X,y,test_size = 0.2)

In [59]:
model = LogisticRegression
model.fit(X_train,y_train)
preds = model.predict(X_valid)

AttributeError: 'DataFrame' object has no attribute '_validate_params'

In [49]:
df.head(100)

,school,city,state,region,conference,division
0,Abilene Christian University,Abilene,Texas,Mid South,Western Athletic Conference,2
1,Academy of Art University,San Francisco,California,West Coast,Pacific West Conference,3
2,Adams State University,Alamosa,Colorado,South West,Rocky Mountain Athletic Conference,3
3,Adelphi University,Garden City,New York,North East,Northeast-10 Conference,3
4,Adrian College,Adrian,Michigan,Great Lakes,Michigan Intercollegiate Athletic Association,4
...,...,...,...,...,...,...
95,Bethany Lutheran College,Mankato,Minnesota,Mid West,Upper Midwest Athletic Conference,4
96,Bethel College – Kansas,North Newton,Kansas,Mid West,Kansas Collegiate Athletic Conference,1
97,Bethel University – Indiana,Mishawaka,Indiana,Great Lakes,Crossroads League,1
98,Bethel University – Minnesota,Saint Paul,Minnesota,Mid West,Minnesota Intercollegiate Athletic Conference,4
99,Bethel University – Tennessee,McKenzie,Tennessee,Mid East,Mid-South Conference,1